@media only screen and (max-width: 500px) {
    header {
        display: flex;
        justify-content: space-between;
        background-color: var(--blue);
        width: 100%;
        height: 90px;
        border-radius: 0px;
        top: 0px;
        position: relative;
        padding: 10px;
    }
    .logo {
        width: 90px;
        height: 90px;
    }
    .author-img {
        height: 150px;
        width: 150px;
    }
    .nav {
        max-width: 70%;
        display: flex;  
        height: fit-content;
        margin-top: 5%;
    }
    .nav a {
        padding-left: 1em;
        font-size: 0.7em;
    }
    .social-links {
        display: none;
    }
.main {
    margin-left: 0px;
    width: 100%;
}
    #about {
        width: 90%;
    }
    .project {
        width: 95%;
    }
    #contact {
        float: none;
        padding-top: 1em;
        border-top: 1px solid #1C6EA4;
        margin :auto;
    }
    .back-to-top {
        display: initial;
    }
  }
