:root {
    /*main*/
    --red: #E63946;
    --main-bg:#F1FAEE;
    --light-blue:#A8DADC;
    --blue:#457B9D;
    --dark-blue:#1D3557;
}
*{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
}
.clear {
    overflow: auto;
}
a{
    text-decoration: none;
    color: var(--dark-blue);
}
hr {
    margin-top: 2em;
}

body{
    background-color: var(--main-bg);
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h1, h2 {
    font-weight: 700;
    letter-spacing: 0.06em;
}
.main {
    margin-left: 260px;
    margin-top: 50px;
}
header {
    background-color: var(--blue);
    width: fit-content;
    height: 500px;
    border-radius: 0px 15px 15px 0px;
    top: 60px;
    position: fixed;
    padding: 30px;
}
header a{
    color: var(--light-blue);
}
.logo {
    background-image: url(img/TsLogo.svg);
    background-size: cover;
    width: 110px;
    height: 110px;
    margin-left: 1em;
}
.nav {
    width: fit-content;
    margin-top: 80%;
    line-height: 2rem;
    text-align: center;
    margin-right: 10px;
}

.social-links {
    margin-top: 130px;
    margin-left:-10px;
}

#about {
    margin: auto;
    width: 60%;
    margin-bottom: 5em;
}

#about p {
    margin-left: 2em;
    text-align: left;
}

.about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}
.about-content p {
    width: 70%;
}

.author-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(img/ohlyov.jpg);
    background-position: top;
    background-size: cover;
}
#projects {
	margin-top: 1.5em;
}
.project {
    width: 60%;
    margin: auto;
    margin-top: 5em;
}
.project a {
    margin-left: 1em;
    font-size: 1em;
    font-weight: 500;
}
.project img {
    max-width: 100%;
    height: auto;
}

#contact {
    float: center;
    margin: 10em 2em 5em 0em;
}

.back-to-top {
    width: 50px;
    height: 50px;
    background-color: var(--red);
    position: fixed;
    justify-content: center;
    bottom: 1em;
    right: 1em;
    border-radius: 100%;
    display: none;
}
.arrow {
	width: 1vmin;
	height: 1vmin;
	box-sizing: border-box;
	position: absolute;
	left: 35%;
	top: 50%;
	transform: rotate(-45deg);
}	
	.arrow:before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		display: block;

	}

